/* 로고 */
header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 170px;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--white-color);

    box-shadow: 0px 3px 8px rgb(0, 0, 0, 0.1);
}

.risk-catch-logo-header {
    height: 90px;

    /* margin-top: 20px; */
    cursor: pointer;
}

.nav-header-line {
    height: 2px;
    width: 90%;

    background-color: var(--primary-color);
    border: none;
}

/* nav */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    
    margin-top: 10px;
}

.nav-left-wrapper, .nav-right-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 50px;
}
/* 선택자 우선순위 높임 */
.header-button.header-sign-in-up-button {
    border: 2px solid var(--primary-color);
}

/* 현재 페이지 */
.header-button.active {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 8px;
}